/*-------animation------*/
.flying-section {
  position: relative;
  animation: move-forward 2s 1 ease-in-out forwards;
}
.flying-section img {
  width: 20vw;
  position: absolute;
}
.wings-up {
  animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 0.3s;
	animation-direction: alternate;
}

@keyframes fade {
	0% {
    opacity: 1;
    transform: translate(0,3vw);
	}
	25% {
    opacity: 1;
    transform: translate(0,3vw);

	}
	75% {
    opacity: 0;
    transform: translate(0,0);

	}
	100% {
    opacity: 0;
    transform: translate(0,0);

	}
}
.wings-down {
  animation-name: otherFade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 0.3s;
	animation-direction: alternate;
}

@keyframes otherFade {
	0% {
    opacity: 0;
    transform: translate(0,3vw);
	}
	25% {
    opacity: 0;
    transform: translate(0,3vw);

	}
	75% {
    opacity: 1;
    transform: translate(0,0);

	}
	100% {
    opacity: 1;
    transform: translate(0,0);

	}
}
@keyframes move-forward {
  0% {
  transform: translate(0,50px);
  }
  10% {
    transform: translate(7vw,0px);
  }
  20% {
    transform: translate(14vw,0px);
  }
  30% {
    transform: translate(21vw,0px);
  }
  40% {
    transform: translate(28vw,0px);
  }
  50% {
    transform: translate(35vw,0px);
  }
  60% {
    transform: translate(42vw,0px);
  }
  70% {
    transform: translate(49vw,0px);
  }
  80% {
    transform: translate(56vw,0px);
  }
  90% {
    transform: translate(63vw,0px);
  }
  100% {
    transform: translate(70vw,0px);
  }
}
.falling-rock {
  width: 10vw;
  height: 10vw;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/rock.jpg");
  animation: obstacle 1s 3 ease-in forwards;
}
@keyframes obstacle {
  0% {
    transform: translate(0, 0) rotateZ(180deg);
  }
  100% {
    transform: translate(0, 70vw) rotateZ(0deg);
  }
}
.background-forest {
  width: 80vw;
  height: 20vw;
  background-image: url("../img/test-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
